@font-face {
  font-family: "Pokemon-Solid";
  src: url("Pokemon-Solid.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Pokemon-Hollow";
  src: url("Pokemon-Hollow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

body {
  font-family: Pokemon-Solid;
  line-height: 1.4;
  background-color: rgb(247, 229, 128);
}

.header-link {
  color: green;
  line-height: 1.4;
  text-decoration: none;
  padding: 20px;
  border: 3rem, dotted;
  background-color: whitesmoke;
  border-radius: 50%;
  margin-top: 30px;
}

.header-link:hover {
  color: red;
  text-decoration: none;
}

.container {
  text-align: center;
}

header {
  text-align: center;
  font-family: Pokemon-Solid;
  height: 110px;
  padding: 10px;
  background-color: rgb(247, 229, 128);
}

.header-title {
  line-height: 20px;
  padding-top: 120px;
}

.link-section {
  padding-top: 40px;
  font-size: 28px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: red;
}

/* Add some padding inside the card container */
.card-container {
  align-items: center;
  padding-top: 60px;
}

.pokemon-names {
  text-align: center;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 50px;
}

.pokemon-detail {
  text-align: center;
  padding: 15px;
  font-size: 18px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 50px;
}
