@font-face {
  font-family: "Pokemon-Solid";
  src: url("Pokemon-Solid.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Pokemon-Hollow";
  src: url("Pokemon-Hollow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Pokemon-Solid;
  line-height: 1.4;
  background-color: rgb(247, 229, 128);
}

.header-link {
  color: green;
  line-height: 1.4;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  background-color: whitesmoke;
  border-radius: 40%;
  margin-top: 30px;
}

.header-link:hover {
  color: red;
}

.container {
  text-align: center;
}

header {
  text-align: center;
  font-family: Pokemon-Solid;
  height: 110px;
  padding: 10px;
  background-color: rgb(247, 229, 128);
}

.header-title {
  line-height: 20px;
}

.link-section {
  padding-top: 40px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: red;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: inline-block;
  background-color: whitesmoke;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}
