@font-face {
  font-family: "Pokemon-Solid";
  src: url("Pokemon-Solid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pokemon-Hollow";
  src: url("Pokemon-Hollow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Pokemon-Solid;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.pokemon-names {
  font-family: Pokemon-Hollow;
}

.pokemon-names:hover {
  font-family: Pokemon-Solid;
}
